
.icon-icons8-male-user-50-1:before { content: '\e803'; } /* '' */
.icon-icons8-place-marker-50-1:before { content: '\e804'; } /* '' */
.icon-icons8-communication-50-1:before { content: '\e805'; } /* '' */